
body{
    background-color: aliceblue;
    color: black;
    
    font-family: 'poppins' ,sans-serif;
    
}
nav {
    margin-left: 1020px;
}
 nav a {
    text-decoration: none;
    color:black;
    
    position: relative;
 }
    
 nav a ::before {
    position: absolute;
 }
nav a:hover {
    color: darkmagenta;
}
    nav a:hover::before
    {
    content:'' ;
    position: absolute;
    bottom: -10px;
    left:0px;
    width:0%;
    height: 3px; 
    background-color: aquamarine;
    transition: all 0.5s;
    width: 100%;
}
h1 {
    margin-left: 30px;
    padding: 0px;
}
p {
    margin-left: 30px;
    padding: 0px;
    gap: 5px;
}
hr {
    margin-left:900px;
    border: solid;
    margin-right: 50px;
}
h4 {
    margin-left:900px ;

}
h4{
    text-decoration: none;
    color:black;
    font-size: 15px;
    font-weight: 600;
    padding: 0 5px;
    position: relative;

 }
h4:hover {
    color: cadetblue;
}
